<div class="row">
    <h3> Web Site Products</h3>
    <div class="col-md-12">
        <a class="btn btn-default" href="/#!/insertOrder"> Add Order</a>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Partner</th>
                    <th>Order Type</th>
                    <th>Company</th>
                    <th>SubmittedBy</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ order.Id }}
                    </td>
                    <td>
                        {{ order.PartnerId == 1 ? 'PartnerA' : order.PartnerId == 2 ? 'PartnerB'  : order.PartnerId == 3 ? 'PartnerC' : 'PartnerD' }}
                    </td>
                    <td>
                        {{ order.TypeOfOrder }}
                    </td>
                    <td>
                        {{ order.CompanyName }}
                    </td>
                    <td>
                        {{ order.SubmittedBy }}
                    </td>
            </tbody>
        </table>
    </div>
</div>