<div class="form-group">
    <label>Contact FirstName</label>
    <input type="text" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactFirstName" />
</div>

<div class="form-group">
    <label>Contact Lastname</label>
    <input type="text" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactLastName" />
</div>

<div class="form-group">
    <label>Contact Title</label>
    <input type="text" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactTitle" />
</div>

<div class="form-group">
    <label>Contact Email</label>
    <input type="email" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactEmail" />
</div>

<div class="form-group">
    <label>Contact Phone</label>
    <input  pattern="[\+]\d{2}\d{3}\d{7}"  placeholder="+903333333"type="tel" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactPhone" />
</div>


<div class="form-group">
    <label>Contact Mobile</label>
    <input  pattern="[\+]\d{2}\d{3}\d{7}"  placeholder="+903333333" type="tel" class="form-control" ng-required="input.PartnerId == 1" maxlength="250" ng-model="input.AdditionalInfo.ContactMobile" />
</div>