<div class="form-group">
    <div class="col-md-4">
        <label>ExposureID</label>
    </div>
    <div class="col-md-8">
        <input type="text" ng-required="input.PartnerId == 3" ng-maxlength="250" ng-model="input.AdditionalInfo.ExposureId" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-4">
        <label>Related Order</label>
    </div>
    <div class="col-md-8">
        <input type="text" ng-required="input.PartnerId == 3" ng-maxlength="250" ng-model="input.AdditionalInfo.RelatedOrder" />
    </div>
</div>


<div class="form-group">
    <div class="col-md-4">
        <label>Udac</label>
    </div>
    <div class="col-md-8">
        <input type="text" ng-required="input.PartnerId == 3" ng-maxlength="250" ng-model="input.AdditionalInfo.Udac" />
    </div>
</div>
